<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myzg.gymnasium.mapper.BranchMapper">


    <select id="getBranchById" resultType="com.myzg.gymnasium.entity.Branch" parameterType="int">
        select * from branch where t_id = #{id}
    </select>

    <select id="getAllBranch" resultType="com.myzg.gymnasium.entity.Branch" >
        select * from branch
    </select>
</mapper>
