<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myzg.gymnasium.mapper.MbrbasicMapper">

    <resultMap id="MbrbasicFull" type="com.myzg.gymnasium.entity.Mbrbasic">
        <id column="id" property="id"/>
        <result column="u_name" property="uName"/>
        <result column="u_age" property="uAge"/>
        <result column="u_birthday" property="uBirthday"/>
        <result column="u_sex" property="uSex"/>
        <result column="u_idcard" property="uIdcard"/>
        <result column="u_phone" property="uPhone"/>
        <result column="u_adress" property="uAdress"/>
        <result column="nation" property="nation"/>
        <result column="u_familyphone" property="uFamilyphone"/>
        <result column="u_qq" property="uQq"/>
        <result column="u_wechat" property="uWechat"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="theNation"
                     column="nation"
                     javaType="com.myzg.gymnasium.entity.Nation"
                     select="com.myzg.gymnasium.mapper.NationMapper.getNationById"/>
    </resultMap>

    <select id="findMbrBasicById" resultMap="MbrbasicFull" parameterType="int">
        select * from mbrbasic where id = #{id}
    </select>

    <select id="findMbrBasicPage" resultMap="MbrbasicFull" >
        select * from mbrbasic limit #{page},#{limit}
    </select>

</mapper>
